body{
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin:0;
  background-color: #f4f4f4;
}
.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}
ul{
  margin: 0;
  padding: 0;
}
#map {
  height: 550px;
  width: 100%;
}
#mapc{
  height: 550px;
}


header{
  background: #5f939c;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #32a0c2 3px solid;
}
header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}
header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}
header #branding{
  float: left;
}
header #branding h1{
  margin: 0;
}
header nav{
  float: right;
  margin-top: 10px;
}
header .highlight, header .current a{
  color: #7a1609;
  font-weight: bold;
}
header a:hover{
  color: #cccccc;
  font-weight: bold;
}
#legend {
       font-family: Arial, sans-serif;
       background: #fff;
       padding: 10px;
       margin: 10px;
       border: 3px solid #000;
     }
     #legend h3 {
       margin-top: 0;
     }
     #legend img {
       vertical-align: middle;
     }
#floating-panel {
  position: absolute;
  top: 125px;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  padding-left: 10px;
}

#floating-panel {
  background-color: #fff;
  border: 1px solid #999;
  padding: 5px;
  position: absolute;
  top: 130px;
  z-index: 5;
}
#newsletter{
  padding: 15px;
  color: #ffffff;
  background: #353637;
}
#newsletter h1{
  float: left;
}
#newsletter form{
  float: right;
  margin-top: 15px;
}
#newsletter input[type="email"]{
  padding: 4px;
  height: 25px;
  width: 250px;
}
.button_1{
  height: 38px;
  background: #cccccc;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #353637;
}
footer{
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #32a0c2;
  text-align: center;
}
.column {
  float: left;
  width: 33.33%;
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  display: table;
  clear: both;
}
#boxes{
  width: 95%;
  margin: auto;
  overflow: hidden;
}
#boxes1{
  width: 95%;
  margin: auto;
  overflow: hidden;
}
.column1 {
  float: left;
  width: 33.3%;
  text-align: center;
}

.row1:after {
  display: table;
  clear: both;
  text-align: center;
}
aside#sidebar{
  float: right;
  width: 30%;
  padding: 5px;
}
aside#sidebar .contact input, aside#sidebar .contact textarea{
  width: 90%;
  padding: 5px;
}
article#main-col{
  float: left;
  width: 65%;
}
.container2{
  width: 65%;
  margin: auto;
  overflow: hidden;
}
#imageb{
  background-image: url('img/imgb.png');
   background-size: cover;
}
/* Services */
ul#services li{
  list-style: none;
  padding: 20px;
  border: #cccccc solid 1px;
  margin-bottom: 5px;
  background: #32a0c2;
}
ul#services h3{
  border-bottom: #353637 solid 1px;
}
@media(max-width: 200px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box {
    float: none;
    text-align: center;
    width: 100%;
  }
  header{
    padding-bottom: 20px;
  }
  #showcase h1{
    margin-top: 40px;
  }
  #newsletter button {
    display: block;
    width: 100%;
  }
  #newsletter form input[type="email"] {
    width: 100%;
    margin-bottom: 5px;
  }
  .column {
   width: 100%;
 }
  .column1{
    width: 100%;
  }
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar {
    float: none;
    text-align: center;
    width: 100%;
  }

  [...]
  #newsletter form input[type="email"],
  .contact input,
  .contact textarea,
  .contact label{
    width: 100%;
    margin-bottom: 5px;
  }
}
